body {
    min-height: 200vh;
}

.content {
    margin-top: 180vh;
}

.more-content {
    margin-top: 40vh;
}

hamburger-two {
    display: none;
}

@media (width < 680px) {
    hamburger-two {
        display: block;
    }
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 0;
    opacity: .85;
    position: fixed;
    top: 0;
    z-index: 97;
}
