/**
 * Don't show until JS is instantiated.
 */
hamburger-two {
    &:not(:defined) {
        display: none;
    }
}

.hamburger-wrapper {
    display: none;
    position: absolute;
    margin-left: auto;
    width: 10%;
    justify-self: right;
    right: 1rem;
    top: 12px;
    text-align: right;

    &.open {
        top: 0;

        & .burger {
            & .line {
                background-color: white;
            }
        }
    }
}

.hamburger {
    display: inline-block;

    & .line {
        height: 2px;
        border-radius: 3px;
        background: var(--hamburger-color, black);
        width: 25px;
        transition: transform 0.2s ease-in-out;
    }

    & .container {
        transition: transform 0.2s ease-in-out 0.1s;
        position: absolute;
        left: 5px;

        &.top {
            transform: translateY(-6px) scaleX(.88);
        }

        &.middle {
            transform: scaleX(.88);
        }

        &.bottom {
            transform: translateY(6px) scaleX(.88);
        }
    }

    & .burger {
        z-index: 200;
        height: 31px;
        width: 31px;
        display: block;
        position: relative;

        & button {
            position: relative;
            top: 10px;
        }
    }

    &.open {
        position: relative;
        top: 1rem;

        & .line {
            &.bottom {
                transition-delay: 0.1s;
            }

            &.middle {
                display: none;
            }

            &.top {
                transition-delay: 0.1s;
            }
        }

        & .container {
            transition-delay: 0s;

            &.bottom {
                transform: none;
                z-index: 99;
            }

            &.top {
                transform: none;
                z-index: 99;
            }

            & .line {
                &.bottom {
                    transform: rotateZ(45deg);
                }

                &.top {
                    transform: rotateZ(-45deg);
                }
            }
        }
    }
    
    & button {
        all: unset;
        cursor: pointer;
        display: block;
    }
    
    & button * {
        pointer-events: none;
    }
    
    & input {
        display: none;
    }
}

@media (width < 600px) {
    .hamburger-wrapper {
        display: block;
    }
}
